select {
    color: #fff;
    background: rgb(51, 26, 0);
    text-align: center;
    border: 1px solid transparent;
    width: 8em;
}

select:hover {
    cursor: pointer;
    border-left:1px solid rgb(255, 170, 0);
    border-right:1px solid rgb(255, 170, 0);
    color: rgb(255, 170, 0);
}


select:focus{
    border: none;
}
