html {
  scroll-behavior: smooth;
}


.link,
.visited,
.active {
  text-decoration: none;
}

/*----------------------------------------------------------------------*/


.content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 80px;
  grid-template-columns: repeat(12, 1fr);
  background: radial-gradient(rgb(255, 235, 205), rgb(134, 89, 45));
  min-width: 400px;
}


.main {
  grid-row: 1 / 6;
  grid-column: 1 / span 12;
  min-height: 88vh;
}

/*----------------------------------------------------------------------*/

.navInf {
  background: rgb(51, 26, 0);
  margin-top: 10px;
}

.navInf ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 5px 0px;
}


.navInf ul li {
  margin: 0px 3px;
  
}

.RefBTN {
  border: none;
  background-color: inherit;
  margin-left: 20px;
  color: rgb(255, 235, 205);
  font-size: large;
}

.RefBTN:hover {
  cursor: pointer;
  color: rgb(255, 170, 0);
}


/*----------------------------------------------------------------------*/

.recipes {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 88vw;

}



/*----------------------------------------------------------------------*/

.footer {
  grid-row: 6 / span 1;
  grid-column: 1 / span 12;
  border-top: 1px solid rgb(26, 13, 0);
  align-self: center;
}



/*------------------------------RESPONSIVE-------------------------------*/


@media only screen and (max-width: 730px) {
  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav ul li {
    margin: 3px;
  }

}

@media only screen and (max-width: 600px) {

  .navInf {
    display: none;
  }
}