.pages{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-family: 'Unbounded', cursive;
    font-size: 14px;
    }

.prevBTN{
    border: none;
    background-color: inherit;
    font-size: larger;
    font-weight: 500;
    margin-right: 20px;
}

.prevBTN:hover{
    cursor: pointer;
    color:  rgb(255, 170, 0);
    transition: all 0.2s; 

}

.nextBTN{
    border: none;
    background-color: inherit;
    font-size: larger;
    font-weight: 500;
    margin-left: 20px;

}
.nextBTN:hover{
    cursor: pointer;
    color:  rgb(255, 170, 0);
    transition: all 0.2s; 

}

.pageN{
    border: 0ch;
    height: 36px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px ;
    border-bottom: solid 1px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}