.container {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 1px;
    padding: 15px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 235, 205, 0.678);
    border-radius: 10px;
    transition: transform 0.7s;
    outline: 3px solid rgba(255, 235, 205);
    position: relative;
}

.title {
    color: rgb(0, 0, 0);
    margin-top: 15px;
    font-family: 'Unbounded', cursive;
    font-weight: 500;
    font-size: 15px;
}

.container:hover {
    cursor: pointer;
    outline: 3px solid rgb(51, 26, 0);
    transition: all 0.3s;
}

.container:active {
    transform: scale(1.02);
}

.img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.dietsContainer {
    background-color: rgba(255, 235, 205);
    z-index: 10;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    border-radius: 10px;
    clip-path: circle(12% at 0% 100%);
    transition: all 0.5s;
    font-family: 'Unbounded', cursive;
    font-weight: 100;
    font-size: 13px;
}

.dietsContainer:hover {
    clip-path: circle(111.7% at 50% 100%);
}

.plus {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 9px;
    color: rgb(51, 26, 0);
    font-weight: 800;
    font-size: larger;
    border: none;
    background-color: inherit;
}

.plus:hover {
    cursor: pointer;
}

.diets {
    display: flex;
    flex-direction: column;
    color: rgb(51, 26, 0);
    margin-top: 20px;
    font-size: medium;
}

.diets>h5 {
    padding: 2px;
    display: inline-block;
    margin: 1px 10px 1px 10px;
    background-color: rgba(51, 26, 0, 0.267);
    border-radius: 5px;
}